.custom-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 10px;

  &__input {
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding-left: 28px;
    background-color: #b4c9eb;
    height: 56px;
    border-radius: 15px;
    border: 1px solid #2c5fae;

    &--icon {
      padding-right: 20px;
    }

    &--button {
      margin-top: 10px;
    }
  }
}
